div#react-select-3-placeholder  {
    text-align: left !important;
}

.css-1dimb5e-singleValue {
    text-align: left !important;
}

.css-1nmdiq5-menu {
    text-align: left !important;
}

.css-hlgwow {
    height: 56px;
}

.css-13cymwt-control , .css-1dyz3mf{
    height: 56px !important;
}

.css-1p3m7a8-multiValue {
    background-color: #bfe487 !important;
}


.css-9jq23d {
    font-size: 100% !important;
    font-weight: 500 !important;
}